dxdy.exr
height_maps/
/build*/
*.swp
/a.out
/*.vs*
/*.cap
/code/shared/platform_defines.hpp
/.vscode/

__pycache__

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
